<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/CSS" href="{% static 'css/registretion.css'%}">
</head>
<body>
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Создавая аккаунт вы соглашаетесь на правила сайта<a href="/license/"> Правила пользования</a>.</p>
    <input type="submit" value="Зарегестрироваться">
</form>

{%endblock content%}
  <div class="container signin">
    <p>Уже есть аккаунт? <a href="/user/login/" class="enter">Enter</a>.</p>

</body>
</html>